/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 8, 2023, 9:58:02 AM
    Author     : Administor
*/
.nav-link{
    color: #0D6C5F;
}

.card{
    border-radius: 15px;
    width: 18rem;
    background-color: #CAEFE6;
}
.card-img-top{
    border-radius: 15px;
}
.product{
    color: #0D6C5F;
    font-family: Josefin Sans;
}
/*.check{
    position: relative;
    width: 10px;
    height: 10px;
}*/

.save-checkbox ~ .fa-heart{
color: transparent;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #0D6C5F;
}
.save-checkbox:checked ~ .fa-heart{
	color:  #0D6C5F;
}