@charset "UTF-8";
.user-pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    margin-inline: 30px;
}

.search-bar-input{
    width: 200px; 
    height: 30px;
    border-radius: 50px; 
    border-color: transparent; 
    background-color: white;  
    font-family: Josefin Sans; 
    color: #0D6C5F; 
    text-align: center;
}

.search-bar{
  position: relative;
}

.search-bar > i{
  position: absolute;
  transform-origin: center left;
  transform: translate(10px, 50%);
}



#product {
  margin-top: 180px;
}

#product .left-images img {
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
}

#product .right-content {
  position: relative;
  z-index: 3;
  background-color: #fff;
}

#product .right-content h4 {
  font-family: Josefin Sans;
  font-size: 22px;
  color: #2a2a2a;
  font-weight: 700;
  margin-bottom: 0px;
}

#product .right-content span.price {
  font-size: 18px;
  color: #a1a1a1;
  font-weight: 500;
  display: block;
  margin-top: 5px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

#product .right-content ul.stars {
  position: absolute;
  right: 0;
  top: 0;
}

#product .right-content ul.stars li {
  display: inline;
  font-size: 13px;
}

#product .right-content span {
  font-family: Josefin Sans;
  font-size: 14px;
  color: #aaaaaa;
  font-weight: 500;
  display: block;
  margin-top: 25px;
}

#product .right-content .quote {
  margin-top: 25px;
}

#product .right-content .quote i {
  float: left;
  font-size: 32px;
  margin-right: 15px;
  margin-top: 10px;
}

#product .right-content .quote p {
  font-style: italic;
  color: #2a2a2a;
  font-weight: 500;
}

#product .right-content p {
  font-size: 14px;
  color: #aaaaaa;
  font-weight: 500;
  display: block;
  margin-top: 25px;
}

.quantity-content {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  width: 100%;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.quantity-content .left-content {
  float: left;
  margin-right: 30px;
}

.quantity-content .right-content {
  text-align: right;
}

.quantity-content .left-content h6 {
  padding-top: 7px;
  font-size: 20px;
  font-weight: 700;
  color: #aaa;
  position: relative;
  z-index: 11;
}

.total h4 {
  font-family: Josefin Sans;	
  float: left;
  font-size: 20px;
  margin-top: 10px;
  color: #aaa!important;
}

.total .main-border-button {
  text-align: right;
}

.total .main-border-button input {
  background-color: #CAEFE6;
  border-color: #CAEFE6;
  color: #0D6C5F;
}

.total .main-border-button input:hover {
  color: #fff;
  background-color: #2a2a2a;
}

.quantity {
  display: inline-block; }
 
 .quantity .input-text.qty {
  width: 35px;
  height: 39px;
  padding: 0 5px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #efefef;
 }
 
 .quantity.buttons_added {
  text-align: left;
  position: relative;
  white-space: nowrap;
  vertical-align: top; }
 
 .quantity.buttons_added input {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  box-shadow: none;
 }
 
 .quantity.buttons_added .minus,
 .quantity.buttons_added .plus {
  padding: 7px 10px 8px;
  height: 39px;
  background-color: #ffffff;
  border: 1px solid #efefef;
  cursor:pointer;}
 
 .quantity.buttons_added .minus {
  border-right: 0; }
 
 .quantity.buttons_added .plus {
  border-left: 0; }
 
 .quantity.buttons_added .minus:hover,
 .quantity.buttons_added .plus:hover {
  background: #eeeeee; }
 
 .quantity input::-webkit-outer-spin-button,
 .quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0; }
  
  .quantity.buttons_added .minus:focus,
 .quantity.buttons_added .plus:focus {
  outline: none; }

 
 .main-border-button a {
  font-size: 13px;
  font-family: Josefin Sans;
  background-color: #CAEFE6;
  border: 1px solid #fff;
  padding: 12px 25px;
  display: inline-block;
  font-weight: 500;
  transition: all .3s;
}

.main-border-button a:hover {
  font-family: Josefin Sans;
  background-color: #CAEFE6;
  color: #2a2a2a;
  
}


 .feedback-container {
            width: 400px;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        textarea {
            width: 100%;
            height: 100px;
            margin-bottom: 10px;
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: none;
        }

        button {
            background-color: #4caf50;
            color: #fff;
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 4px;
        }
        .feedHead{
			font-size: 20px;
			font-family: josefin Sans;
			font-weight: 10px;
		}
        .feedbackButton{
			background-color: #CAEFE6;
            color: #0D6C5F;
            border: none;
            padding: 10px 20px;
            font-family: Josefin Sans;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 4px;
			
			
		}
        h3{
			font-family: Josefin Sans;
			font-size: 22px;
  			color: #2a2a2a;
 		 	font-weight: 700;
  			margin-bottom: 0px;
			
		}

        .feedback-list {
			
            text-align: left;
            margin-top: 20px;
            
        }

        .feedback-item {
			font-family: Josefin Sans;
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 4px;
        }