<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Green supermarket</display-name>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/error.jsp</location>
  </error-page>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PurchaseHistServlet</display-name>
    <servlet-name>PurchaseHistServlet</servlet-name>
    <servlet-class>PurchaseHistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseHistServlet</servlet-name>
    <url-pattern>/PurchaseHistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userprofileservlet</display-name>
    <servlet-name>userprofileservlet</servlet-name>
    <servlet-class>userprofileservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userprofileservlet</servlet-name>
    <url-pattern>/userprofileservlet</url-pattern>
  </servlet-mapping>

</web-app>